In [15]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [7]:
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 
         'DIS', 'RAD', 'TAX', 'PTRATIO','B', 'LSTAT', 'MEDV']
df = pd.read_csv('data/housing.data', header=None, delim_whitespace=True, names=names)
df.dropna(inplace=True)

In [23]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [128]:
X = (df.iloc[:, :-1].values)
y = df.iloc[:, -1].values

In [165]:
def linear_regression(X, y):
    X_old = X
    n = X_old.shape[0]
    k = X.shape[1] 
    
    X = np.ones((X_old.shape[0], X_old.shape[1] + 1))
    X[:, 1:] = X_old
    
    
    beta_hat_OLS = np.matmul(
    np.matmul(np.linalg.inv(np.matmul(X.transpose(), X)), X.transpose()), y)

    y_hat = np.matmul(X, beta_hat_OLS)
    TSS = np.matmul(y.transpose(), y) - n*y.mean()**2
    ESS = np.matmul(y_hat.transpose(), y_hat) - n*y_hat.mean()**2
    RSS = TSS - ESS
    
    AIC = (RSS + 2*k)/n
    BIC = (RSS + 2*k*np.log(n))/n
    
    R_sq = ESS/TSS
    R_adj_sq = 1 - ((n-1)/(n-k))*(1-R_sq)
    
    res = {
        'beta_hat_OLS': beta_hat_OLS,
        'TSS': TSS, 'ESS': ESS, 'RSS': RSS,
        'AIC': AIC, 'BIC': BIC,
        'Rsq': R_sq, 'Rsq_adj': R_adj_sq
    }
    
    return res

In [162]:
X.shape

(506, 13)

In [163]:
ncols = X.shape[1]

In [142]:
X_cols = [0]

Rsq_adj_diff = linear_regression(X[:, X_cols], y)['Rsq_adj']

while Rsq_adj_diff > 0:
    for col in range(1, ncols):
        Rsq_adj = linear_regression(X[:, X_cols + [col]])

(506, 13)

In [164]:
linear_regression(X, y)

{'beta_hat_OLS': array([ 3.64594884e+01, -1.08011358e-01,  4.64204584e-02,  2.05586264e-02,
         2.68673382e+00, -1.77666112e+01,  3.80986521e+00,  6.92224640e-04,
        -1.47556685e+00,  3.06049479e-01, -1.23345939e-02, -9.52747232e-01,
         9.31168327e-03, -5.24758378e-01]),
 'TSS': 42716.29541501973,
 'ESS': 31637.510837065085,
 'RSS': 11078.784577954648,
 'AIC': 21.94621458093804,
 'BIC': 22.214771801099054,
 'R_sq': 0.7406426641094169,
 'R_sq_adj': 0.7343297066435204}

In [158]:
linear_regression(X[:, ], y)

{'beta_hat_OLS': array([24.03310617, -0.41519028]),
 'TSS': 42716.29541501973,
 'ESS': 6440.783058744681,
 'RSS': 36275.51235627505,
 'AIC': 71.69864102030643,
 'BIC': 71.73995751571582,
 'R_sq': 0.15078046904975748,
 'R_sq_adj': 0.1490955096629515}