# Collaborative Filtering

* Not all Users have rated every movie (This is logical, and not really a missing data)
*

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.metrics.pairwise import pairwise_distances

In [3]:
r_cols = ["user_id", "movie_id", "rating", "unix_timestamp"]
ratings = pd.read_csv("data/ml-100k/u.data", names=r_cols, sep="\t", encoding="latin-1")
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [26]:
ratings.isna().sum()

user_id           0
movie_id          0
rating            0
unix_timestamp    0
dtype: int64

In [4]:
X = ratings.pivot_table(values='rating', index='user_id', columns='movie_id')

In [5]:
X.shape

(943, 1682)

In [6]:
n_users, n_items = X.shape

In [7]:
user_sim = np.zeros((n_users, n_users))
item_sim = np.zeros((n_items, n_items))

In [8]:
X_isna = X.isna()

In [9]:
def calc_dist_nan(curr_id, other_id, calc, metric):
    if calc == "user":
        curr = X.loc[curr_id, :]
        other = X.loc[other_id, :]
        curr_isna = X_isna.loc[curr_id, :]
        other_isna = X_isna.loc[other_id, :]
        
    elif calc == "item":
        curr = X.loc[:, curr_id]
        other = X.loc[:, other_id]
        curr_isna = X_isna.loc[:, curr_id]
        other_isna = X_isna.loc[:, other_id]
        
        
    valid_idx = ~(curr_isna | other_isna)
    other = other.loc[valid_idx].values.reshape(1, -1)
    curr = curr.loc[valid_idx].values.reshape(1, -1)
    
    try:
        res = pairwise_distances(curr, other, metric=metric)[0, 0]
    except ValueError:
        res = np.nan
    
    return res

In [10]:
calc_dist_nan(1, 5, "user", "correlation")

0.5791913817512466

In [11]:
# for user_id in user_ids:
#     for other_id in user_ids:
#         user_sim[user_id-1, other_id-1] = calc_dist_nan(user_id, other_id, "user", "correlation")

* Cosine Similarity is not affected by ZERO padding (X -> X_zf (zero-fill))
* Pearson Correlation is not affected by MEAN padding (X -> X_umf, X_imf (user and item mean-fill))

In [12]:
X_zf = X.fillna(0)
X_umf = X.T.fillna(X.mean(axis=1), axis=0).T
X_imf = X.fillna(X.mean(axis=0), axis=0)

Here I choose the pearson correlation similarity

In [18]:
user_sim = 1 - pairwise_distances(X_umf, X_umf, metric="correlation")

In [19]:
item_sim = 1 - pairwise_distances(X_imf.T, X_imf.T, metric="correlation")

In [20]:
user_sim = pd.DataFrame(user_sim, index=X.index, columns=X.index)
item_sim = pd.DataFrame(item_sim, index=X.columns, columns=X.columns)

Item similarity has NaN values as some of the columns had the same entries for each movie

In [21]:
item_sim.fillna(0, inplace=True)

In [22]:
user_sim.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.043411,0.011051,0.059303,0.134514,0.103373,0.110556,0.180891,0.012253,-0.000621,...,0.025835,-0.047952,0.087224,0.007718,0.074378,0.078714,0.067433,0.028790,-0.031270,0.032123
2,0.043411,1.000000,0.013658,-0.017016,0.035770,0.094503,0.089408,0.055640,0.027294,0.097846,...,0.012853,-0.028798,0.056659,0.197835,0.090009,0.032505,0.015053,-0.017344,0.012068,0.039173
3,0.011051,0.013658,1.000000,-0.059638,0.016037,-0.017158,0.016141,0.041177,-0.010093,0.023856,...,0.001615,0.000658,-0.006888,0.036157,-0.018513,-0.006240,-0.023907,0.034414,-0.009187,0.001489
4,0.059303,-0.017016,-0.059638,1.000000,0.007373,-0.053929,-0.025604,0.136046,0.016082,-0.013588,...,0.011895,0.002174,-0.028000,-0.025021,0.022882,-0.005960,0.279818,0.258594,0.064504,-0.019222
5,0.134514,0.035770,0.016037,0.007373,1.000000,0.038484,0.067874,0.140106,0.010195,0.014335,...,0.070014,-0.070821,0.024278,0.038672,0.093567,0.051782,0.029540,0.036234,0.043318,0.099324

In [23]:
item_sim.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
movie_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.091331,0.074554,0.051377,0.114383,0.073914,0.109929,0.116840,0.055881,0.068413,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.091331,1.000000,0.073814,0.136619,0.061872,-0.007447,0.070359,0.131440,-0.060372,0.044210,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.074554,0.073814,1.000000,-0.057460,0.027472,0.118627,0.023926,-0.016949,0.003838,0.025616,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.051377,0.136619,-0.057460,1.000000,-0.106871,0.007538,0.072354,0.145265,0.087573,0.050025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.114383,0.061872,0.027472,-0.106871,1.000000,-0.017280,0.073628,0.058144,0.019236,-0.028606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## User-User Collaborative filtering

In [41]:
X.shape

(943, 1682)

In [43]:
user_sim.shape

(943, 943)

In [60]:
abs(user_sim).sum(axis=1).values.reshape(-1, 1)

array([[56.13453344],
       [53.62953355],
       [36.78857378],
       [38.4154689 ],
       [42.19835711],
       [54.01155478],
       [46.7017578 ],
       [54.81784314],
       [32.20056127],
       [45.78174319],
       [43.17620915],
       [29.14143259],
       [51.62787931],
       [39.74530558],
       [42.67077857],
       [44.31878931],
       [46.95286984],
       [40.15706092],
       [45.54480418],
       [36.97779127],
       [44.79639597],
       [52.0145942 ],
       [53.05736904],
       [49.64881511],
       [41.80696091],
       [71.7161227 ],
       [36.78610031],
       [51.49038508],
       [52.63811199],
       [48.25512184],
       [30.08964823],
       [46.42728497],
       [44.36937465],
       [53.1887937 ],
       [40.15271008],
       [31.04003688],
       [42.95514754],
       [28.80683684],
       [37.32122741],
       [36.15513581],
       [44.51019862],
       [42.47406016],
       [49.4639602 ],
       [46.97878446],
       [48.74746208],
       [54.01438318],
       [45.49694853],
       [50.73282538],
       [45.78829498],
       [38.5225801 ],
       [42.62629543],
       [42.57023202],
       [46.93255297],
       [41.01051446],
       [39.46322545],
       [51.95819872],
       [52.57839087],
       [38.99991668],
       [53.18796335],
       [35.35694839],
       [42.76093877],
       [58.08873725],
       [46.06103246],
       [55.80283144],
       [36.77932425],
       [50.520723  ],
       [30.49607907],
       [57.1768131 ],
       [62.89815799],
       [53.94169584],
       [41.83393789],
       [44.89503306],
       [48.46007475],
       [50.06899002],
       [41.10498003],
       [47.34893454],
       [37.75065961],
       [35.28066171],
       [39.61541124],
       [32.87165435],
       [40.20979974],
       [57.34668055],
       [44.73400185],
       [45.33288488],
       [53.65455936],
       [32.63615754],
       [47.05748339],
       [34.6351863 ],
       [35.08590112],
       [39.50110062],
       [51.93730406],
       [64.9930279 ],
       [31.82480944],
       [56.63305908],
       [47.76685473],
       [34.1538115 ],
       [29.47586651],
       [28.48576   ],
       [56.37721436],
       [38.54617582],
       [40.28437223],
       [46.55915075],
       [41.74404178],
       [59.16422797],
       [57.36061093],
       [31.74065092],
       [47.77831034],
       [44.39074623],
       [47.21133151],
       [39.88318166],
       [36.05458368],
       [39.10189364],
       [38.59694304],
       [32.92722299],
       [41.8912007 ],
       [48.92815457],
       [53.47824715],
       [25.02201678],
       [43.13442827],
       [48.81682597],
       [56.75328927],
       [25.71827918],
       [50.30158573],
       [30.34316979],
       [51.74125226],
       [33.92575962],
       [50.75165547],
       [36.70677537],
       [52.24363219],
       [43.74592071],
       [39.51443217],
       [38.92227578],
       [44.00446579],
       [46.61731571],
       [36.7852513 ],
       [54.05681539],
       [40.91870272],
       [32.82264166],
       [37.33838707],
       [44.29015734],
       [39.41900218],
       [44.12938534],
       [50.36846466],
       [53.50207393],
       [49.17030323],
       [42.81013744],
       [30.73585513],
       [31.00891604],
       [52.96933474],
       [46.98687405],
       [43.17785284],
       [31.58012389],
       [52.5512065 ],
       [50.35295861],
       [44.30816955],
       [28.24404041],
       [47.01236971],
       [52.41742169],
       [36.17926985],
       [41.44387797],
       [41.08632286],
       [41.27634417],
       [40.46768317],
       [38.50574961],
       [47.27774537],
       [47.87478878],
       [22.73775712],
       [50.08895026],
       [42.53928063],
       [39.47719274],
       [44.62066996],
       [17.60913909],
       [33.88142758],
       [41.29660701],
       [39.98694196],
       [48.44804562],
       [66.10333455],
       [64.02008752],
       [37.27747456],
       [25.55072211],
       [41.07799074],
       [40.73415518],
       [30.0250722 ],
       [51.39936675],
       [28.55592489],
       [38.09313542],
       [25.66194118],
       [43.17655368],
       [44.75340603],
       [48.91954139],
       [41.73606285],
       [49.90501247],
       [50.93493598],
       [60.36958319],
       [47.50743769],
       [31.54593548],
       [53.91251845],
       [58.37033989],
       [57.06617031],
       [53.05179722],
       [46.30001703],
       [41.93042033],
       [48.82319666],
       [45.40198376],
       [37.22623448],
       [46.86400101],
       [48.32675314],
       [35.63174745],
       [47.52229662],
       [53.62710596],
       [33.2741939 ],
       [31.8602642 ],
       [50.1436367 ],
       [42.10156121],
       [45.31439205],
       [49.18516112],
       [34.39921731],
       [44.60155242],
       [29.94388892],
       [48.47011848],
       [51.50498593],
       [62.28027956],
       [43.55659025],
       [35.36175884],
       [32.72704045],
       [34.74196127],
       [51.98702295],
       [41.72411251],
       [35.83099172],
       [36.94674853],
       [37.94515858],
       [39.78183726],
       [34.08327948],
       [44.54331932],
       [30.68810335],
       [39.87104376],
       [35.8914292 ],
       [40.81424335],
       [40.39216033],
       [44.1665552 ],
       [41.46904763],
       [27.81394289],
       [29.12644276],
       [44.87838879],
       [33.05106616],
       [48.26464374],
       [50.6999227 ],
       [46.09017428],
       [55.57181711],
       [54.93393397],
       [54.4720787 ],
       [37.79944025],
       [42.94585538],
       [56.29588931],
       [39.56417167],
       [32.05076675],
       [42.00609259],
       [47.46926713],
       [52.90977074],
       [31.94369419],
       [28.82182534],
       [36.47925225],
       [55.02941552],
       [38.61538511],
       [43.45777064],
       [54.20629478],
       [60.54341425],
       [62.51057763],
       [50.118516  ],
       [31.16001541],
       [63.30925014],
       [28.80672949],
       [33.34485578],
       [50.91510704],
       [46.6399747 ],
       [71.09780831],
       [39.13657427],
       [45.06420815],
       [22.73422458],
       [37.31973672],
       [33.82168432],
       [44.69352705],
       [41.11839046],
       [41.56610835],
       [46.75363241],
       [31.61546444],
       [40.49828704],
       [44.48812976],
       [25.74985867],
       [51.6999054 ],
       [48.11451589],
       [55.75184144],
       [70.4387028 ],
       [58.55237757],
       [29.31723292],
       [53.97955893],
       [56.71573108],
       [46.82521204],
       [47.49501603],
       [26.52662905],
       [49.15782284],
       [47.8820095 ],
       [68.32138567],
       [52.64744118],
       [40.80277292],
       [36.94071581],
       [45.83835459],
       [45.26540411],
       [31.19950019],
       [42.70754082],
       [42.46350084],
       [28.74455751],
       [53.20555138],
       [33.6450046 ],
       [45.90321501],
       [44.74499491],
       [37.3735025 ],
       [36.68532974],
       [41.26821727],
       [38.14000368],
       [25.55491638],
       [37.70055681],
       [64.57634836],
       [36.24289533],
       [42.87609127],
       [35.98138206],
       [44.46146539],
       [57.17286708],
       [64.79423365],
       [32.04632343],
       [32.04845857],
       [47.32455443],
       [36.46643602],
       [53.63324044],
       [43.06407224],
       [30.44961675],
       [32.28945589],
       [40.16477567],
       [54.09659663],
       [25.47139733],
       [26.39307096],
       [37.45603381],
       [57.24525395],
       [61.48846363],
       [63.84888807],
       [51.43236454],
       [49.80728027],
       [40.38779727],
       [32.84599098],
       [40.82809989],
       [38.96417486],
       [37.16378871],
       [52.20580975],
       [31.53675166],
       [42.60883298],
       [50.90503696],
       [34.61919623],
       [30.22330364],
       [65.00878288],
       [51.48285969],
       [47.61749819],
       [43.18092532],
       [49.86519666],
       [43.18219973],
       [43.25235091],
       [22.91602529],
       [40.35152031],
       [37.61972642],
       [45.66268347],
       [43.28761289],
       [32.13732834],
       [32.79236086],
       [35.96074285],
       [39.2843789 ],
       [28.57823602],
       [51.43581744],
       [53.46950565],
       [59.22852428],
       [47.49988321],
       [48.64947013],
       [43.99103063],
       [41.98920548],
       [40.12861821],
       [44.7158766 ],
       [34.41643734],
       [38.4016066 ],
       [49.29942848],
       [45.08575713],
       [50.12494122],
       [40.59684052],
       [51.3210382 ],
       [52.36753814],
       [39.88565073],
       [49.13263571],
       [60.01465636],
       [37.22885342],
       [59.48131579],
       [45.63942438],
       [31.43927493],
       [54.92718348],
       [38.05391948],
       [50.1751138 ],
       [37.92354443],
       [46.59823902],
       [45.4302964 ],
       [40.3406517 ],
       [49.94640628],
       [39.17461526],
       [47.28653501],
       [50.80328161],
       [44.14861586],
       [36.1309859 ],
       [54.62539909],
       [61.76186394],
       [39.77151707],
       [56.95175788],
       [47.86784421],
       [42.04539813],
       [32.52502631],
       [41.70038448],
       [37.74681285],
       [44.81648366],
       [52.96860497],
       [41.61034157],
       [58.11580795],
       [29.31320725],
       [32.394894  ],
       [43.72090976],
       [59.93315261],
       [51.3093571 ],
       [48.68932882],
       [37.43915872],
       [57.92046487],
       [34.17331602],
       [52.94053194],
       [29.43796177],
       [38.90880247],
       [42.86310166],
       [40.37974543],
       [35.82917416],
       [47.10936272],
       [47.49897762],
       [46.79996167],
       [53.14736328],
       [45.30500238],
       [41.83950359],
       [59.82889732],
       [36.66201086],
       [44.19441722],
       [46.46875118],
       [40.6055207 ],
       [44.18265983],
       [56.10444975],
       [45.77316029],
       [60.73009901],
       [46.6306378 ],
       [71.08322282],
       [45.76000854],
       [42.20367684],
       [48.83488855],
       [44.83729778],
       [44.14500111],
       [47.62299798],
       [48.31969783],
       [38.62165924],
       [42.76509426],
       [46.74313605],
       [50.2438685 ],
       [27.40140911],
       [39.98259794],
       [20.82585749],
       [33.81046016],
       [38.01616534],
       [65.32466484],
       [50.16403237],
       [38.05528388],
       [27.33190045],
       [39.242027  ],
       [56.3312514 ],
       [43.49742252],
       [25.31260715],
       [52.04052195],
       [39.6982153 ],
       [51.11338571],
       [50.67514691],
       [57.12193345],
       [49.17093929],
       [49.76821415],
       [34.44261135],
       [47.58356888],
       [41.82980892],
       [31.73055778],
       [44.46688145],
       [57.519523  ],
       [34.37214751],
       [40.02330512],
       [50.90780335],
       [39.51505558],
       [34.08792121],
       [37.97921683],
       [40.84436429],
       [37.43968063],
       [41.96239582],
       [36.27033632],
       [43.89607564],
       [47.54907452],
       [36.50416401],
       [38.82742505],
       [58.4251995 ],
       [52.31026044],
       [36.53134958],
       [50.81544155],
       [40.17785606],
       [52.68022114],
       [43.22850445],
       [36.79223576],
       [50.61999953],
       [32.00545471],
       [37.11690615],
       [41.98181728],
       [43.74206766],
       [29.43219365],
       [34.48610948],
       [37.92538032],
       [41.76355316],
       [69.8557562 ],
       [35.99039687],
       [44.82481838],
       [33.11987432],
       [28.96737016],
       [43.48796463],
       [44.05698764],
       [55.33369776],
       [30.47467303],
       [33.00287186],
       [40.31984515],
       [70.95599959],
       [55.94321289],
       [36.30916495],
       [54.24675003],
       [41.20201579],
       [48.69084733],
       [40.36092874],
       [59.81118088],
       [46.12211763],
       [48.2640913 ],
       [52.30926528],
       [49.22417621],
       [65.96254695],
       [52.14674727],
       [35.02341374],
       [56.51084159],
       [27.96954398],
       [48.19729404],
       [48.05490876],
       [53.58439393],
       [41.24604357],
       [25.0309611 ],
       [33.80257609],
       [62.96178797],
       [49.371773  ],
       [31.57723213],
       [44.87063362],
       [40.02516227],
       [13.14729135],
       [41.8364695 ],
       [44.18461097],
       [29.95994231],
       [60.64404264],
       [43.70613828],
       [25.33018537],
       [36.005143  ],
       [31.88315238],
       [38.0095381 ],
       [47.78635554],
       [43.22110633],
       [38.24164093],
       [48.11603708],
       [44.82130786],
       [47.17765521],
       [33.90601025],
       [58.94001281],
       [32.46996699],
       [39.91489698],
       [19.60574713],
       [28.9909687 ],
       [41.39090254],
       [33.31503076],
       [40.2594884 ],
       [41.20089591],
       [42.80065718],
       [70.69718381],
       [41.80261531],
       [42.91710128],
       [53.617392  ],
       [54.8598507 ],
       [38.55843833],
       [47.28140668],
       [31.09968979],
       [40.259712  ],
       [55.57932697],
       [58.73240326],
       [42.95317254],
       [27.53783724],
       [57.29479559],
       [48.88499274],
       [37.20046835],
       [35.69015125],
       [41.24155219],
       [44.91769112],
       [32.45016189],
       [34.73372059],
       [35.37000577],
       [43.53659435],
       [47.61778306],
       [54.06070473],
       [32.67878165],
       [53.48755857],
       [47.80637734],
       [35.41525504],
       [40.02361388],
       [55.81271872],
       [50.7111895 ],
       [64.13206318],
       [49.49701496],
       [58.87738411],
       [40.49336368],
       [39.80162006],
       [50.16942778],
       [39.4976077 ],
       [37.97319579],
       [48.86426818],
       [38.93200817],
       [49.4033189 ],
       [43.2768784 ],
       [43.81513495],
       [46.98808196],
       [37.59502357],
       [32.50060503],
       [42.7708239 ],
       [36.86032784],
       [32.92717733],
       [53.60368721],
       [43.2028726 ],
       [46.06462482],
       [42.39753313],
       [39.15902325],
       [46.45226248],
       [40.46310358],
       [59.40708978],
       [48.86161466],
       [44.36192353],
       [55.14649463],
       [51.3649913 ],
       [46.40910366],
       [36.08528149],
       [46.82080994],
       [38.6996592 ],
       [33.41880613],
       [56.10902631],
       [51.68145328],
       [34.46622142],
       [70.78409347],
       [52.18929998],
       [42.85890142],
       [49.81046088],
       [37.50932913],
       [45.35989792],
       [50.91764409],
       [25.0529053 ],
       [37.94940393],
       [30.51056544],
       [42.87706204],
       [46.70634413],
       [27.5839122 ],
       [53.71466406],
       [41.87606581],
       [43.79198399],
       [55.80716143],
       [39.50606141],
       [47.5865214 ],
       [56.29462033],
       [49.07892629],
       [35.05090016],
       [35.72740352],
       [28.18139646],
       [49.33085823],
       [14.96369707],
       [43.5240002 ],
       [34.37332282],
       [32.46565066],
       [31.54199515],
       [40.22330069],
       [42.0199032 ],
       [41.55708001],
       [40.06840028],
       [37.77906953],
       [37.79543107],
       [38.43143056],
       [49.41410313],
       [48.1659336 ],
       [50.12168916],
       [59.33589748],
       [40.64486406],
       [34.96878227],
       [49.47916854],
       [32.05850304],
       [46.35753814],
       [47.32472754],
       [51.01010838],
       [45.32477431],
       [25.81102971],
       [29.79708695],
       [50.57487373],
       [51.18695907],
       [50.95824792],
       [51.33293495],
       [35.41976826],
       [45.65757357],
       [30.78318766],
       [55.13190336],
       [45.30257923],
       [49.8958213 ],
       [46.37095643],
       [44.94657539],
       [31.95809625],
       [46.08767979],
       [48.36404171],
       [32.755679  ],
       [48.0361846 ],
       [28.29151765],
       [33.62552068],
       [42.12361045],
       [42.26629742],
       [54.10984058],
       [39.14162357],
       [38.09158649],
       [58.49199961],
       [38.76917087],
       [45.30655112],
       [48.43373206],
       [53.89667627],
       [53.60328426],
       [34.68965428],
       [41.97336961],
       [45.42304114],
       [44.49832781],
       [49.65231201],
       [53.01403809],
       [36.82768333],
       [45.62982763],
       [39.6441299 ],
       [42.27924433],
       [38.33773782],
       [47.35173129],
       [35.58231356],
       [55.9299681 ],
       [53.74293814],
       [46.41139414],
       [32.14883776],
       [41.31963523],
       [33.93420139],
       [32.68376446],
       [44.63266702],
       [46.08491079],
       [41.9759893 ],
       [31.68704551],
       [51.8137052 ],
       [36.34048903],
       [46.57616384],
       [36.08270373],
       [51.59041073],
       [47.74283659],
       [47.02189944],
       [27.19971437],
       [40.85098254],
       [48.28061759],
       [31.05068551],
       [46.76689979],
       [37.87359258],
       [68.31270716],
       [37.64054162],
       [30.81336693],
       [47.87751918],
       [52.95071107],
       [43.47715297],
       [38.33921607],
       [47.22519148],
       [58.9114104 ],
       [46.69021817],
       [50.2730872 ],
       [29.21835123],
       [49.64815197],
       [50.78069754],
       [42.88900976],
       [46.91480207],
       [61.85598632],
       [33.78485999],
       [50.71772133],
       [38.02566668],
       [37.38568055],
       [37.4274223 ],
       [43.31882808],
       [52.74796168],
       [47.30641741],
       [51.70999801],
       [39.30990803],
       [43.0942579 ],
       [47.54342994],
       [43.42841509],
       [47.70942142],
       [49.84826751],
       [33.79589367],
       [35.88414186],
       [43.47305492],
       [39.35697883],
       [40.28056517],
       [38.09679561],
       [38.92464609],
       [55.58729204],
       [42.52762399],
       [26.36157646],
       [50.35380427],
       [43.09852406],
       [43.86922638],
       [48.2767711 ],
       [46.21886478],
       [28.22850072],
       [41.86184885],
       [49.41055576],
       [65.37958385],
       [48.18587085],
       [43.99435722],
       [51.80605997],
       [41.85454291],
       [50.99836232],
       [34.9817106 ],
       [54.78929929],
       [43.54634711],
       [39.44649598],
       [43.15628019],
       [31.80673158],
       [37.78016682],
       [54.90876225],
       [33.40049321],
       [42.56082311],
       [46.28376783],
       [28.22289537],
       [22.69609917],
       [39.55869682],
       [48.0538391 ],
       [51.39283693],
       [38.33795866],
       [65.11009439],
       [17.79245507],
       [50.69532926],
       [37.89842946],
       [48.28015763],
       [30.42056877],
       [41.13232271],
       [32.54847079],
       [41.37900271],
       [36.67893056],
       [53.26953954],
       [43.57813232],
       [40.62623108],
       [47.4914848 ],
       [51.27755099],
       [47.51067952],
       [51.74265483],
       [53.36902675],
       [42.92858729],
       [47.12997755],
       [49.93034645],
       [49.19789191],
       [40.77718966],
       [40.48797581],
       [35.65406557],
       [39.22779897],
       [62.91570165],
       [48.68461531],
       [53.79461519],
       [35.64149972],
       [41.62359676],
       [37.90569412],
       [50.55330449],
       [32.80484191],
       [36.41956406],
       [50.32419817],
       [50.73588076],
       [37.85432687],
       [49.65913847],
       [53.18354301],
       [49.24892382],
       [49.5691371 ],
       [65.46298793],
       [32.28847206],
       [43.11750576],
       [43.94885855],
       [39.28573575],
       [40.37356429],
       [52.04515413],
       [46.40575945],
       [32.18683408],
       [46.59058514],
       [38.74589512],
       [33.35009646],
       [38.442139  ],
       [40.17544834],

In [61]:
user_sim.dot(X_umf)/abs(user_sim).sum(axis=1).values.reshape(-1, 1)

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,3.367443,3.050156,3.062636,3.138132,3.063545,3.140949,3.317156,3.166494,3.320031,3.131295,...,3.117925,3.117871,3.117319,3.116092,3.117508,3.116702,3.117814,3.117258,3.117933,3.116667
2,2.829395,2.698213,2.685199,2.729978,2.712074,2.740429,2.801614,2.785215,2.847168,2.679894,...,2.729620,2.731041,2.730528,2.729381,2.730714,2.731522,2.731082,2.731302,2.731072,2.730731
3,0.841239,0.788052,0.792466,0.809196,0.784121,0.806564,0.824980,0.831088,0.861476,0.798661,...,0.803095,0.803975,0.802722,0.800010,0.804083,0.804415,0.803994,0.804205,0.803969,0.803878
4,1.362202,1.291815,1.276135,1.285394,1.289735,1.300162,1.332971,1.345606,1.302443,1.314609,...,1.297848,1.295785,1.295315,1.294086,1.295298,1.296374,1.295908,1.296141,1.295935,1.295792
5,3.025851,2.687103,2.664768,2.772461,2.702478,2.736314,2.957923,2.850895,2.823500,2.747223,...,2.737413,2.736412,2.735702,2.734220,2.736154,2.735610,2.736338,2.735974,2.736433,2.735931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,1.796197,1.610830,1.566916,1.644655,1.616724,1.625843,1.724781,1.642666,1.772313,1.614328,...,1.622947,1.622901,1.621806,1.619863,1.622981,1.622037,1.622660,1.622348,1.622696,1.622085
940,2.674363,2.513265,2.507046,2.482143,2.533126,2.541270,2.694532,2.702369,2.570070,2.554114,...,2.544097,2.542958,2.542332,2.541087,2.542416,2.541659,2.542832,2.542245,2.542945,2.542792
941,2.249569,1.914620,1.907002,1.939932,1.932045,1.949071,2.018211,2.016364,2.011199,1.966351,...,1.938171,1.937393,1.937271,1.937347,1.937046,1.937433,1.937247,1.937340,1.937257,1.936839
942,1.821803,1.655311,1.657911,1.694862,1.679812,1.684175,1.676933,1.771825,1.749000,1.686660,...,1.683364,1.683558,1.682296,1.679815,1.683272,1.682454,1.683379,1.682916,1.683471,1.683075
943,3.062381,2.841333,2.772192,2.895529,2.826340,2.847621,3.014705,2.974227,2.956664,2.865571,...,2.847254,2.847068,2.845918,2.843726,2.846440,2.846924,2.846924,2.846924,2.846988,2.845748

In [53]:
user_sim.dot(X_umf)/abs(user_sim).sum(axis=)

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,3.367443,3.192627,4.673180,4.585589,4.075293,3.264407,3.987152,3.242551,5.787737,3.839385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.703133,2.698213,3.914422,3.811159,3.446752,2.721046,3.217207,2.724839,4.741913,3.139275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.551318,0.540585,0.792466,0.774927,0.683598,0.549370,0.649865,0.557748,0.984221,0.641775,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.932218,0.925342,1.332569,1.285394,1.174117,0.924734,1.096462,0.942979,1.553822,1.103089,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2.274642,2.114345,3.056624,3.045473,2.702478,2.137838,2.672694,2.194597,3.700155,2.532195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.931353,0.874251,1.239718,1.246118,1.115143,0.876158,1.074956,0.872203,1.602018,1.026336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,2.179144,2.143532,3.117059,2.955401,2.745724,2.152087,2.639039,2.254854,3.650708,2.551782,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,1.526039,1.359487,1.973944,1.922990,1.743486,1.374161,1.645622,1.400695,2.378418,1.635555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,1.395777,1.327457,1.938175,1.897462,1.712025,1.341052,1.544285,1.390093,2.335991,1.584456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,2.249825,2.184931,3.107635,3.108432,2.762158,2.174279,2.662142,2.237545,3.786675,2.581300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
X

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
X.T @ user_sim

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def predict_rating(ratings, similarity, method):
    if method == "user-user":
        
    elif method == "item-item":
        pass
    
    return None

In [33]:
from sklearn.base import BaseEstimator, ClassifierMixin

In [183]:
class Recommender(BaseEstimator, ClassifierMixin):
    def __init__(self, engine, method):
        '''
        Parameters
        ----------
        engine: str, ['user', 'item']
            user or item based collaborative filtering approach
            
        method: str, ['correlation', 'cosine']
            Similarity metric to use
            'correlation': pearson correlation,
            'cosine': cosine similarity
        '''
        self.engine = engine
        self.method = method
        
    
    @staticmethod
    def _impute(X, engine, method):

        if engine == 'user':
            if method == 'correlation':
                X = X.T.fillna(X.mean(axis=1), axis=0).T
            elif method == 'cosine':
                X = X.fillna(0)
                
        elif engine == 'item':
            if method == 'correlation':
                X = X.fillna(X.mean(axis=0), axis=0).T
            elif method == 'cosine':
                X = X.fillna(0).T
                
                
        return X
        
    def fit(self, user_item_ids, ratings):
        ''' fit method
        
        Parameters
        ----------
        user_item_ids: np.array
        ratings: np.array
            ratings
        '''
        
        user_ids, item_ids = user_item_ids[:, 0], user_item_ids[:, 1]
        X = (pd.DataFrame(
                {'user_id': user_ids, 'item_id': item_ids, 'rating': ratings}).
                 pivot(values='rating', index='user_id', columns='item_id')
                )
        X = self._impute(X, self.engine, self.method)
        self.ratings = X
        
        self.similarity = pd.DataFrame(1 - pairwise_distances(X, X, metric=self.method),
                                       index=X.index, columns=X.index).fillna(0)
        
        return self
    
    def predict(self, user_item_ids):
#         if self.engine == 'user':
#             similarity = self.similarity.loc[user_ids, :]
#             ratings = self.ratings.loc[user_ids, :]
#         elif self.engine == 'item':
#             similarity = self.similarity.loc[item_ids, :]
#             ratings = self.ratings.loc[item_ids, :]
            
            
        pred = self.similarity.dot(self.ratings)/abs(self.similarity).sum(axis=1).values.reshape(-1, 1)
        
        if self.engine == "item":
            pred = pred.T
            
        return pred

In [187]:
train_df.iloc[:, 0]

53532    115
10504    372
89718    763
51836    757
66257    673
        ...
30475    526
21208    244
41739    217
21228    303
25716      5
Name: user_id, Length: 70000, dtype: int64

In [184]:
from sklearn.model_selection import cross_val_score

In [ ]:
cross_val_score()

In [128]:
rcmdr = Recommender("user", "cosine")
rcmdr.fit(ratings.user_id, ratings.movie_id, ratings.rating)
pred = rcmdr.predict(ratings.user_id, ratings.movie_id)

In [188]:
pred.loc

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,2.424921,0.758241,0.444433,1.299298,0.458865,0.139783,2.147416,1.405618,1.581953,0.509051,...,0.003467,0.006575,0.003651,0.002434,0.005605,0.000269,0.000806,0.000538,0.006510,0.007361
2,1.882536,0.325506,0.302482,0.641897,0.240190,0.117447,1.559090,0.768078,1.388130,0.400763,...,0.002868,0.002305,0.003679,0.002453,0.004346,0.001684,0.005052,0.003368,0.002770,0.001912
3,1.328492,0.290918,0.236176,0.536108,0.228197,0.070488,1.244122,0.602516,0.965598,0.269873,...,0.001396,0.001058,0.006671,0.004447,0.003134,0.004178,0.012534,0.008356,0.002619,0.001182
4,1.603710,0.350917,0.268652,0.623992,0.260725,0.071486,1.416678,0.691470,1.049920,0.255325,...,0.002610,0.002723,0.003532,0.002355,0.004192,0.002945,0.008836,0.005891,0.002817,0.001429
5,2.627383,0.873003,0.450599,1.371067,0.493523,0.104848,2.200992,1.489508,1.436195,0.468190,...,0.003604,0.006660,0.002835,0.001890,0.003849,0.000004,0.000012,0.000008,0.006884,0.006284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2.465487,0.468914,0.403929,0.795590,0.341403,0.095980,1.956634,0.936914,1.718421,0.387813,...,0.002582,0.002406,0.005511,0.003674,0.006229,0.000354,0.001062,0.000708,0.004352,0.002503
940,2.017521,0.569425,0.336205,1.060893,0.360052,0.108366,1.830259,1.213920,1.405653,0.405918,...,0.003367,0.005870,0.003157,0.002105,0.004671,0.001117,0.003350,0.002233,0.004769,0.004245
941,2.453219,0.448412,0.396939,0.743403,0.287704,0.089838,2.117515,0.883792,1.421974,0.357328,...,0.001604,0.001828,0.002207,0.001471,0.004642,0.000612,0.001836,0.001224,0.004006,0.003029
942,2.039942,0.587604,0.303291,1.024146,0.343023,0.100319,1.663655,1.250355,1.324813,0.397533,...,0.004830,0.008097,0.004170,0.002780,0.004204,0.001042,0.003125,0.002083,0.005335,0.003315
943,2.513254,0.882071,0.483121,1.384747,0.527299,0.105912,2.210426,1.425924,1.591936,0.434852,...,0.004637,0.005219,0.003976,0.002651,0.005075,0.000000,0.000000,0.000000,0.007531,0.007068

In [161]:
def rmse(actual, pred):
    size = (~actual.isna()).sum().sum()
    return (((pred - actual)**(2)).sum().sum()/size)**(1/2)

In [166]:
from sklearn.model_selection import train_test_split

In [167]:
train_df, test_df = train_test_split(ratings, test_size=0.3)

In [178]:
train_df.pivot(values="rating", index="user_id", columns="movie_id")

movie_id,1,2,3,4,5,6,7,8,9,10,...,1669,1672,1673,1674,1675,1676,1677,1678,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,NaN,4.0,3.0,NaN,5.0,NaN,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
rcmdr = Recommender("user", "cosine")
rcmdr.fit(train_df["user_id"], train_df["movie_id"], train_df["rating"])

Recommender(engine='user', method='cosine')

In [189]:
pred = rcmdr.predict(test_df["user_id"], test_df["movie_id"])

In [199]:
pred.melt()

         item_id     value
0              1  1.836429
1              1  1.252478
2              1  0.862163
3              1  1.158935
4              1  1.923743
...          ...       ...
1535199     1681  0.004873
1535200     1681  0.003970
1535201     1681  0.003974
1535202     1681  0.005912
1535203     1681  0.008529

[1535204 rows x 2 columns]

In [198]:
pred.melt(id_vars=["item_id", "user_id"])

KeyError: "The following 'id_vars' are not present in the DataFrame: ['item_id', 'user_id']"