# Collaborative Filtering

In [1]:
import pandas as pd

In [2]:
r_cols = ["user_id", "movie_id", "rating", "unix_timestamp"]
ratings = pd.read_csv("data/ml-100k/u.data", names=r_cols, sep="\t", encoding="latin-1")
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [9]:
X = ratings.loc[:, "user_id": 'rating']

In [12]:
X = X.pivot_table('rating', index='user_id', columns='movie_id').fillna(0).values

In [13]:
X.shape

(943, 1682)

In [17]:
from sklearn.metrics.pairwise import pairwise_distances

In [18]:
pairwise_distances(X, X, metric="correlation")

array([[0.        , 0.89367807, 1.01642393, ..., 0.8844965 , 0.89101633,
        0.67676922],
       [0.89367807, 0.        , 0.91731983, ..., 0.85582336, 0.86170755,
        0.94576474],
       [1.01642393, 0.91731983, 0.        , ..., 0.91546805, 0.89797522,
        1.02360053],
       ...,
       [0.8844965 , 0.85582336, 0.91546805, ..., 0.        , 0.91987038,
        0.93470037],
       [0.89101633, 0.86170755, 0.89797522, ..., 0.91987038, 0.        ,
        0.87226457],
       [0.67676922, 0.94576474, 1.02360053, ..., 0.93470037, 0.87226457,
        0.        ]])